@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

/* ======= GLOBAL STYLES ======= */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

h2,
h3 {
  text-align: center;
}

input,
button {
  display: block;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

input {
  width: 65%;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
  width: 40%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 0 auto 16px;
  padding: 16px;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
  box-shadow: 0 0 3px;
}

.quiz-info {
  font-weight: bold;
  margin: 0 auto 8px auto;
  text-align: center;
  width: fit-content;
}

li button,
li a {
  width: 100%;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 16px;
}

.pulse-text {
  display: inline-block;
  animation: pulse 3.5s infinite ease-in-out;
  font-family: "Chewy", sans-serif;
  font-size: 88px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* ======= RESPONSIVE STYLES ======= */

/* Max 768px */
@media (max-width: 768px) {
  input {
    width: 80%;
    font-size: 15px;
  }

  button {
    width: 60%;
    font-size: 15px;
  }

  li {
    width: 80%;
    padding: 14px;
    border-radius: 40px;
  }

  .pulse-text {
    font-size: 64px;
  }
}

/* Max 500px */
@media (max-width: 500px) {
  input {
    width: 100%;
    font-size: 14px;
  }

  button {
    width: 80%;
    font-size: 14px;
  }

  li {
    width: 95%;
    padding: 12px;
    border-radius: 30px;
  }

  .pulse-text {
    font-size: 48px;
  }
}
