/* ======= LOBBY CONTAINERS ======= */
.lobbyContainer {
  max-width: 550px;
  margin: 30px auto 0;
  padding: 32px 16px;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 10px;
  border-radius: 100px;
  text-align: center;
}

.lobbyContainer h2 {
  font-family: "Chewy", sans-serif;
  font-size: 32px;
  margin-bottom: 24px;
}

.lobbyContainer button {
  width: 50%;
  margin: 16px auto 0;
  padding: 12px;
}

.pulseText {
  animation: pulse 3s infinite;
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* ======= Responsivt: max 768px ======= */
@media (max-width: 768px) {
  .lobbyContainer {
    padding: 24px 16px;
    border-radius: 80px;
    margin: 25px auto 0;
  }

  .lobbyContainer h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lobbyContainer button {
    width: 60%;
    padding: 10px;
    margin-top: 12px;
  }
}

/* ======= Responsivt: max 500px ======= */
@media (max-width: 500px) {
  .lobbyContainer {
    padding: 16px 12px;
    border-radius: 60px;
    margin: 20px auto 0;
  }

  .lobbyContainer h2 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .lobbyContainer button {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
  }
}
