/* ======= Login.module.css ======= */
.loginContainer {
  max-width: 550px;
  margin: 30px auto 0;
  padding: 32px 16px;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 10px;
  border-radius: 100px;
  text-align: center;
}

.loginContainer h2 {
  font-family: "Chewy", sans-serif;
  font-size: 88px;
}

.loginContainer p {
  text-align: center;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ======= Responsivt: max 768px ======= */
@media (max-width: 768px) {
  .loginContainer {
    padding: 24px 16px;
    border-radius: 80px;
    margin: 25px auto 0;
    max-width: 90%;
  }

  .loginContainer h2 {
    font-size: 64px;
  }

  .loginContainer p {
    font-size: 18px;
    padding: 0 12px;
  }

  .loginContainer form {
    width: 100%;
    padding: 0 12px;
  }
}

/* ======= Responsivt: max 500px ======= */
@media (max-width: 500px) {
  .loginContainer {
    padding: 16px 12px;
    border-radius: 60px;
    margin: 20px auto 0;
    max-width: 90%;
  }

  .loginContainer h2 {
    font-size: 48px;
  }

  .loginContainer p {
    font-size: 16px;
    padding: 0 8px;
  }

  .loginContainer form {
    width: 100%;
    padding: 0 8px;
  }
}
