/* ======= DeleteQuiz.jsx ======= */
.deleteQuizContainer {
  max-width: 550px;
  margin: 30px auto 0;
  padding: 32px 16px;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 10px;
  border-radius: 100px;
  text-align: center;
}

.deleteMessage {
  margin-top: 1rem;
  color: #0056b3;
  font-weight: bold;
  background-color: #e8f5e9;
  border: 1px solid #0056b3;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
  opacity: 0;
  animation: fadeInOut 6.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
